/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


li {
	list-style: none;
}

.sentoData {
  width: 250px;
  height: 68px;
  padding: 10px 0;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
  margin: 2px 2px;
  border: 1px solid #EEE;
  float: left;
  font-size: 12px; }

a:link, a:visited {
  color: #000; }
a:hover {
  color: #007AFF; }
a:active {
  color: #00C2FF; }
.sentoDataDetail {
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee; }

#map {
  margin: 15px 0;
  height: 300px;
  width: 500px; }
