<div id="pageTitle">銭湯一覧リスト</div>
<!--
<% @mapData.each do |data|%>
	<% htmlStr = '<li class="sentoData"><div>【No.】' + data.no.to_s + '</div><div>【区】' + data.ku + '</div><div>【名前】' + data.namae + '</div><div>【住所】' + data.jusho + '</div></li>' %>
	<%= link_to htmlStr.html_safe, maps_show_path(data.no) %>
<% end %>
-->
<div class="areaBase"></div>

<%= javascript_include_tag 'main' %>

<%= javascript_tag do %>
  mapData = <%= raw @mapData.to_json %>;
<% end %>