// 付与するベンダープレフィックス
$set_prefix: -webkit-, -moz-, -ms-, -o-, '';
 
// border-radius
@mixin border_radius($br_value: 3px) {
	@each $prefix in $set_prefix {
		#{$prefix}border-radius: $br_value;
	}
}

#header {
text-align: center;
color: #fff;
line-height: 40px;
background-color: #27ae60;
font-size: 17px;
border-bottom: 1px solid #C0C0C0;
width: 100%;
}

footer {
background: #27ae60;
text-align: center;
color: #fff;
line-height: 24px;
font-size: 10px;
}