// 付与するベンダープレフィックス
$set_prefix: -webkit-, -moz-, -ms-, -o-, '';
 
// border-radius
@mixin border_radius($br_value: 3px) {
	@each $prefix in $set_prefix {
		#{$prefix}border-radius: $br_value;
	}
}

#header {
	background: #0368FF;
	text-align: center;
	color: #fff;
	line-height: 40px;
	margin-bottom: 10px;
	@include border-radius(10px);
}

footer {
	background: #0368FF;
	text-align: center;
	color: #fff;
	line-height: 30px;
	margin-top: 10px;
}